/* For OOCSS purposes */

.border
	border-width: 1px
	border-style: solid

.bc-white
	border-color: $white

.bc-gray
	border-color: $gray

.bc-black
	border-color: $black

.bc-yellow
	border-color: $yellow

.bc-blue
	border-color: $blue

.bc-red
	border-color: $red

.bc-green
	border-color: $green

.bc-orange
	border-color: $orange

.bc-purple
	border-color: $purple

.bc-brown
	border-color: $brown

.bc-pink
	border-color: $pink
